# Copier ce fichier en .env et remplir avec les identifiants cPanel HODI
DB_HOST=localhost
DB_USER=chanbeia_user
DB_PASSWORD=
DB_NAME=chanbeia_db

PORT=3000
JWT_SECRET=change_moi_le_jour_j
NODE_ENV=production
